@import 'tailwindcss';


@theme {

  --color-orangepale: hsl(13, 44%, 77%);
  --color-orangepale-hover: hsl(13, 44%, 70%);
  
  --color-warmrasberry: hsl(329, 20%, 43%);
  --color-warmrasberry-hover: hsl(329, 20%, 36%);
  
  --color-thistlepink: hsl(294, 43%, 81%);
  --color-thistlepink-hover: hsl(294, 43%, 74%);
  
  --color-candypink: hsl(342, 96%, 89%);
  --color-candypink-hover: hsl(342, 96%, 82%);

}

@layer base {
  :root {
    /* Primitives Tokens  */
    --clr-white: 0 0% 100%;
    --clr-dark-grey: 0 0% 10%;
    /* Sementics Tokens */
    --foreground: var(--clr-dark-grey);
    --background: var(--clr-white);

    --radius: 0.5rem;
    --gap: 1rem;


    


    
    
  }

  body{
    margin: 0;
  }
}
